@import "~@/assets/scss/theme";

//对话框垂直居中
.vertical-center-modal {
    display: flex;
    align-items: center;
    justify-content: center;
    .ivu-modal {
        top: 0;
    }
}

//加载
.demo-spin-icon-load {
    animation: ani-demo-spin 1s linear infinite;
}
@keyframes ani-demo-spin {
    from {transform: rotate(0deg);}
    50% {transform: rotate(180deg);}
    to { transform: rotate(360deg);}
}

//浮动
.left-float{
    float: left;
}
.right-float{
    float: right;
}

//树形控件
.ivu-tree{
    padding: 10px 8px;
    color: $font-color2;
    ul.ivu-tree-children li{
        margin: 18px 0;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    .no-padding li ul{
        padding: 0;
    }
    .ivu-tree-children .ivu-tree-children{
        li{
            &:hover,
            &:hover span{
                cursor: pointer;
                cursor: grab;
                cursor: -moz-grab;
                cursor: -webkit-grab;
            }
        }
        .ivu-tree-title:before{
            content: '';
            display: inline-block;
            width: 7px;
            height: 7px;
            background-color: $font-color2;
            border-radius: 50%;
            position: relative;
            top: -2px;
            left: -10px;
        }
    }
    
    .ivu-tree-title{
        color: $font-color2;
        font-size: 14px;
        &:hover{
            background-color: transparent;
            color: $main-color;
        }
    }
    .ivu-tree-title-selected, 
    .ivu-tree-title-selected:hover{
        background-color: transparent;
        color: $main-color;
    }
}

//搜索框
#app .ivu-input-group {
    .ivu-input{
        background-color: $bg-color2;
        font-size: 15px;
        color: white;
        text-indent: 5px;
        border-color: $main-color;
    }

    i.ivu-icon.ivu-icon-ios-search {
        right: 57px;
        font-size: 28px;
        color: #fff;
        line-height: 60px;
        cursor: pointer;
    }
    
    .ivu-input-with-search:hover .ivu-input,
    .ivu-input:focus {
        border-color: $main-hover-color !important;
    }
}

//导航菜单
.ivu-menu.ivu-menu-light.ivu-menu-horizontal {
    background: $bg-color2;
    height: 42px;
    line-height: 42px;
    &:after {
        content: inherit;
        background: initial;
    }
    .ivu-menu-item {
        color: #e8e8e8;
    }
}

//按钮组
.ivu-btn-group{
    position: relative;
    top: -2px;
}
.ivu-btn-group > .ivu-btn{
    background-color: rgb(64,67,78);
    border-color: $border-color2;
    color: $font-color3;
    &:hover{
        color: #45a5fe;
        border-color: #45a5fe;
    }
}

//选项组
.ivu-radio-group.ivu-radio-group-button .ivu-radio-wrapper {
    border-color: $border-color2;
    background-color: $bg-color2;
    color: $font-color3;
    padding: 0 15px;
}
.ivu-radio-focus,
.ivu-radio-group-button .ivu-radio-wrapper-checked:first-child {
    background-color: #808695 !important;
}

//按钮
.ivu-btn-ghost.ivu-btn-dashed, 
.ivu-btn-ghost.ivu-btn-default{
    border-color: $border-color2;
    color: $font-color3;
}

.ivu-btn-ghost.ivu-btn-dashed:hover, 
.ivu-btn-ghost.ivu-btn-default:hover{
    color: #45a5fe !important;
    border-color: #45a5fe !important;
}

.ivu-btn-ghost.ivu-btn-primary {
    &:hover {
        background-color: $bg-color2 !important;
    }
}

//输入框
.child-view .ivu-input{
    background-color: $bg-color2;
    border-color: $border-color1;
    color: white;
    text-indent: 5px;
}

//下拉框
.child-view{
    .ivu-select-selection{
        background: transparent;
        border: 1px solid $border-color1;
        outline: none;
        color: $font-color2;
        margin-right:17px; 
        margin-top: 17px;
        &:focus{
            box-shadow: none;
        }
    }
    .ivu-select-dropdown{
        background: $bg-color2;
    }
    .ivu-select-item{
        color: $font-color2;
    }
    .ivu-select-item-selected, 
    .ivu-select-item-selected:hover{
        color: $main-color;
    }
    .ivu-select-item-focus,
    .ivu-select-item:hover{
        background: transparent;
    }
}

//表单
.ivu-form .ivu-form-item-label {
    color: #808695;
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

//表格
.ivu-table-wrapper{
    border: none;
}

.ivu-table th{
    background-color: $bg-color2;
    color: $font-color2;
    font-size: 14px;
    height: 40px;
    &:hover{
        cursor: pointer;
        cursor: grab;
        cursor: -moz-grab;
        cursor: -webkit-grab;
    }
}
.ivu-table td{
    background-color: rgb(87,90,106);
    color: $font-color2;
    height: 39px;
    .ivu-input{
        background: transparent;
        outline: none;
        border: none;
        color: $font-color2;
        &:focus{
            border: 1px solid $table-border;
            -webkit-box-shadow:none;
            box-shadow: none;
        }
    }
    .ivu-icon{
        cursor: pointer;
        &:hover{
            color: $main-color;
        }
    }
}
.ivu-table-border th, 
.ivu-table-border td,
.ivu-table-wrapper{
    border-color: $table-border;
}
.ivu-table-border th:nth-of-type(1),
.ivu-table-border td:nth-of-type(1){
    border-left: 1px solid $table-border;
}
.ivu-table-border th{
    border-top: 1px solid $table-border;
    position: relative;
    &:hover>div i{
        display: block;
    }
    
    i{
        display: none;
        position: absolute;
        right: 0;
        width: 19px;
        height: 19px;
        background-color: #575a6a;
        font-size: 15px;
        line-height: 19px;
        text-align: center;
        cursor: pointer;
        &:hover{
            color: $main-color;
        }
        &.ivu-icon-md-close{
            top: 0;
        }
        &.ivu-icon-ios-create-outline{
            bottom: 0;
        }
    }
}
.ivu-table:before,
.ivu-table:after{
    display: none;
    background-color: transparent;
}

.ivu-table-header{
    background-color: $bg-color2;
    border-bottom: 1px solid #676a7b;
}

//锚点
.ivu-anchor-link {
    font-size: 14px;
    &.ivu-anchor-link-active{
        font-size: 15px;
        border-left: 2px solid $main-color;
        a {
            color: $main-color;
        }
    }
    a {
        color: #808695;
    }
}
.ivu-anchor-ink {
    display: none;
}

//面板
.ivu-split-trigger-vertical{
    width: 12px;
    background-color: $bg-color1;
}
.ivu-split-trigger-horizontal{
    height: 12px;
    background-color: $bg-color1;
}
.ivu-split-trigger{
    border: none;
}

.ivu-checkbox-wrapper{
    font-size: 14px;
}
