$danger : #FD7473;
$gray : #E4E7ED;

$symbol-color: #509bf4;
$symbol-gray-color:#c7c7c7;
$list-hover-color:#f5f7fa;
$list-selected-color:#ecf5ff;
$list-inner-hover-color:#ECF6FF;
$btn-primary-hover-color:#2166b1;
$btn-primary-active-color:#2166b1;