$font-size:14px;
//$font-family:

$main-color:rgb(23,143,254);

$bg-color1:rgb(47,50,59);
$inner-color:rgb(71,74,86);

$font-color1:rgb(198,198,200);
$font-color2:rgb(178,178,179);

$border-color1:rgb(96,98,114);
$border-color2:rgb(77,81,93);
