@import "~@/assets/scss/theme";

@mixin absolute($top,$right,$bottom,$left){
    position: absolute;
    top: $top;
    right: $right;
    bottom: $bottom;
    left:$left;
}

#label-system {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background-color: $bg-color1;
    
    .ivu-row,
    .ivu-row-flex{
        max-width: 1080px;
        margin: 0 auto;
    }
    .ivu-col-span-18{
        float: inherit;
        margin: 0 auto;
        min-width: 682px;
    }
    .search-bar{
        padding: 20vh 0;
    }
    
    .ivu-input-group{
        font-size: 20px;
        .ivu-input {
            height: 60px;
        }
        .ivu-input-group-append {
            padding-left: 38px !important;
        }
    }
    
    .ivu-card{
        text-align: center;
        background-color: rgb(229,229,229);
        h2{
            color: #333;
            font-size: 22px;
            padding: 14px 0;
        }
        .character{
            overflow: hidden;
            margin-bottom: 11px;
        }
        img{
            width: 100%;
            height: 100%;
        }
        p{
            text-align: right;
            cursor: pointer;
            &:hover{
                color: $main-color;
            }
        }
    }
    .ivu-row-flex-center{
        padding-bottom: 7vh;
    }
}

#sys-detail {
    
    .ivu-input-group{
        font-size: 16px;
        .ivu-input {
            height: 42px;
        }
        i.ivu-icon.ivu-icon-ios-search {
            right: 45px;
            font-size: 20px;
            line-height: 44px;
        }
        .ivu-input-group-append {
            padding-left: 30px !important;
        }
    }

    .ivu-row {
        max-width: 1080px;
        margin: 0 auto;
    }
    .ivu-layout-header {
        padding: 10px;
        background-color: $bg-color1;
        line-height: 44px;
    }
    .btn {
        height: 40px;
        float: right;
        button {
            font-size: 16px;
        }
    }
    .tab-content {
        padding-left: 32px;
        padding-right: 32px;
    }
    
    .tab-left {
        height: 100%;
        overflow: auto;
        padding: 24px 24px 24px 0;
    
        &:before {
            content: "";
            width: 1px;
            background-color: #3c3f48;
            position: absolute;
            right: 0;
            height: 100%;
            top: 6%;
            height: 88%;
        }
    
        li {
            padding-bottom: 16px;
    
            h3 {
                font-size: 14px;
                line-height: 32px;
                color: $font-color1;
                &:hover {
                  color: $main-color;
                  cursor: pointer;
                  text-decoration: underline;
                }
            }
            p {
                width: 100%;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                font-size: 13px;
                line-height: 22px;
                color: #808695;
            }
            .operation {
                color: #909399;
                .edit {
                    color: $main-color;
                    &:hover {
                        color: #5cadff;
                    }
                }
                span {
                    cursor: pointer;
                    &:hover {
                        color: $main-color;
                    }
                }
            }
        }
    }
    
    .tab-right {
        padding: 25px 0 25px 25px;
        h3 {
            font-size: 14px;
            line-height: 32px;
            color: $font-color1;
            margin-bottom: 6px;
        }
        li {
            display: inline-block;
            font-size: 14px;
            color: rgb(180,181,182);
            margin-right: 25px;
            margin-bottom: 6px;
            cursor: pointer;
            &:hover {
                color: $main-color;
            }
        }
    }
}

#base-station{
    @include absolute(0,0,0,0);
    
    .ivu-split-pane.top-pane{
        padding: 12px;
        overflow: auto;
    }
    .ivu-split-pane.bottom-pane{
        overflow: auto;
    }
    .left{
        @include absolute(12px,0,12px,12px)
        background-color: $bg-color3;
        padding: 10px;
        overflow-y: auto;
        overflow-x: hidden;
        .ivu-input{
            height: 48px;
        }
        .dragLi{
            padding: 6px 0;
            border: 1px dashed $main-color;
        }
    }
    
    .top{
        .top-head{
            padding-bottom:12px;
            &>span{
                color: $font-color3;
                font-size: 18px;
                line-height: 35px;
                padding-right: 12px;
            }
        }
        .ivu-table{
            background-color: $bg-color3;
            overflow: auto;
        }
        .top-con{
            table{
                width: 100%;
                height: 100%;
                thead{
                    display: inline-block;
                    white-space:nowrap;
                    width: 100%;
                    height: 100%;
                    tr{
                        display: block;
                        position: relative;
                        min-width: 100%;
                        height: 100%;
                        background-color: transparent;
                        border: none;
                        
                        th{
                            display: inline-block;
                        }
                    }
                }
                .ivu-table-cell{
                    line-height: 39px;
                    width: 150px;
                    &.small-width{
                        width: 90px;
                        text-align: center;
                    }
                    &.xs-width{
                        width: 60px;
                        text-align: center;
                    }
                }
                tbody{
                    position: absolute;
                    top: 40px;
                    .cell-edit{
                        position: relative;
                        z-index: 4;
                        width:90px;
                        i{
                            font-size: 20px;
                            padding-left: 4px;
                        }
                    }
                    
                }
            }
            .ivu-table-wrapper{
                width: 100%;
                height: 100%;
            }
            .ivu-spin-fix{
                background-color: #474a56;
                
            }
        }
        .ghostLi{
            display: inline-block;
            width: 150px;
            height: 39px;
            font-size: 14px;
            line-height: 39px;
            color: $font-color1;
            background-color: $bg-color2;
            border: 1px dashed $main-color;
        }
        .ghostCard{
            display: none;
        }
        .dragTh{
            border:1px dashed $main-color;
        }
        
        
    }
    .bottom{
        padding: 24px 12px 12px 12px;
        .bot-head{
            padding-bottom: 12px;
            border-bottom: 1px solid $border-color2;
        }
        .bot-con{
            padding-top: 12px;
//          @include absolute(69px,12px,12px,12px);
            @include absolute(57px,0,0,0);
        }
        .ivu-select-selection{
            background-color: $bg-color2;    
        }   
        .ivu-card{
            width: 150px;
            background-color: $bg-color2;
            border-color: $border-color1;
            color: $font-color2;
            cursor: pointer;
            float: left;
//          margin: 0 17px 12px 0;
            margin: 12px;
            .ivu-card-body{
                padding: 10px;
                position: relative;
                h4{
                    font-size: 16px;
                    text-align: center;
                }
                .ivu-icon-md-close{
                    display: none;
                    position: absolute;
                    top: 2px;
                    right: 2px;
                    &:hover{
                        color: $main-color;
                        cursor: pointer;
                    }
                }
            }
            &:hover{
                border-color: #808695;
                cursor: move;
                cursor: grab;
                cursor: -moz-grab;
                cursor: -webkit-grab;
                .ivu-icon-md-close{
                    display: block;
                }
            }
        }
        .ghostLi{
            display: inline-block;
            width: 150px;
            height: 67px;
            font-size: 16px;
            line-height: 40px;
            text-align: center;
            text-indent: -11px;
            background-color: $bg-color2;
            border:1px dashed $main-color;
            border-radius: 4px;
            color: $font-color2;
            margin: 12px;
        }
        .ghostCard,.dragCard{
            border:1px dashed $main-color;
        }
        
    }
    .demo-split-right{
        @include absolute(12px,12px,12px,12px);
    }
    .demo-split-pane{
        background-color: $bg-color3;
    }
    .demo-split{
        background-color: $bg-color1;
    }
    .ivu-split-trigger-horizontal{
        height: 12px;
    }
    
    .cardGroup,
    .cardGroup>.list-group{
        width: 100%;
        height: 100%;
    }
    
    .tableWrap{
        @include absolute(60px,12px,12px,12px);
    }
    
  
}

#label-cate {
    .ivu-row{
        max-width: 1080px;
        margin: 0 auto;
    }
    .ivu-btn-ghost.ivu-btn-dashed,
    .ivu-btn-ghost.ivu-btn-default {
        margin: 0 6px;
    }
    .ivu-radio-group-button {
        margin: 0 6px;
    }
    .left {
        padding: 24px 0;
    }
    .right {
        padding: 24px 0;
        h5{
            font-size: 15px;
            color: $main-color;
            padding-bottom: 15px;
            .ivu-icon{
                position: relative;
                top: -2px;
                padding-right: 10px;
            }
        }
        .item{
            padding-bottom:24px ;
        }
        .ivu-form-item {
            float: left;
        }
        .ivu-input {
            width: 235px;
            color: rgb(197,200,206);
        }
    }
    
    header{
        padding: 10px;
        height: 52px;
        border-bottom: 1px solid $border-color2;
        i.ivu-icon{
            font-size: 24px;
            line-height: 32px;
            &.ivu-icon-md-home{
                padding-right: 10px;
                border-right: 1px solid $border-color2;
                cursor: pointer;
                color:rgb(81,90,110); 
                &:hover{
                    color: rgb(197,200,206);
                }
            }
        }
        .ivu-col>span{
            font-size: 15px;
            color: $font-color2;
        }
    }
}