$font-family:"Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
$font-size:14px;

$main-color:rgb(23,143,254);
$main-hover-color:#2db7f5;

$bg-color1:rgb(47,50,59);
$bg-color2:rgb(71,74,86);
$bg-color3:rgb(59,61,71);

$font-color1:#e8eaec;
$font-color2:rgb(198,198,200);
$font-color3:rgb(178,178,179);

$border-color1:rgb(96,98,114);
$border-color2:rgb(77,81,93);